.photo_detail .user_entry{
	width:auto;
	border-radius:none;
	box-shadow:none;
	background:none;
}

a.preview span
,audio
,.photo_detail input[type='submit']
,.prev
,.next{
	display:none;
}

section,
section.side{
	float:none;
}