#main {
	padding:20px 40px;
}
.user_entry {
	border-radius:10px; 
	background:#efefef;
	padding:20px; 
	margin-bottom:20px;
	box-shadow:0 0 3px #888;
	overflow:hidden; 
	position:relative;
	min-height:430px;
}
.user_entry hgroup{
	overflow:hidden; 
}
.user_entry h4{
	overflow:hidden;
	padding-bottom:3px; 
}
.user_entry h4 b {
	font-weight:normal;
}
.user_entry h4 i{
	color: #bbb;
    font-size: 80%;
    float: right;
}
.user_entry h4 i strong{
	color:#333;
	font-weight:1000;
}
.user_entry h4 i:before{
	display:inline-block; 
	content:"_id :";
	margin-right:3px; 
}
.gmap {
	box-shadow:0 0 3px  #888; 
	width:420px;
	height:300px;
	float:right;
	margin:20px 0;
}
.deletewalk {
	position:absolute;
	bottom:20px; right:20px;
}



h4, p{
	margin:0; 
	padding:0; 
}

section{
	float:left;
	width: calc(100% - 440px);
	margin:20px 0;
}
section h5{
	margin:0 10px 10px;
	font-size:92%;
}

.thumbs {
	margin: 0 10px; 
}
.thumbs ul{
	list-style:none; 
	padding:0;
	margin:0;
	display:inline-block;
}
.thumbs li {
	display:inline-block;
	margin:0 10px 20px 0; 
    vertical-align: top;

}
.thumbs
.thumbs figure {
	margin:0; 
}

.thumbs figcaption span {
	margin-right:3px;
}
a.preview{
	display:block;
	min-height:150px;
	position:relative;
}
a.preview span,
a.preview b,
a.preview i{
	position:absolute;
	top:0;
	right:0;
	width:20px;
	height:20px;
	background:#fff url(../img/icon_rotate.gif) 50% no-repeat;
	background-size:80%;
	transform: rotate(270deg);
	border:1px solid #999;
	border-radius:3px;
	box-shadow:1px 1px 1px #333;
	cursor:pointer;
	z-index:1;
}
a.preview b{
	background:#fff url(../img/icon_trash.png) 50% no-repeat;
	top:25px;
	background-size:contain;
	transform: rotate(0);
}
a.preview i{
	background:#fff url(../img/icon_tag.png) 50% no-repeat;
	top:50px;
	background-size:contain;
	transform: rotate(0);
}
.thumbs .rotate img {
	max-width:140px;
	max-height:140px;
	transform: rotate(0) translate(0,0);
	image-orientation: from-image;
}
.thumbs .rotate[rev='1'] img {
	margin-top: 15px;
	transform: rotate(90deg) translate(0,0);
	image-orientation: from-image;
}
.thumbs .rotate[rev='2'] img {
	transform: rotate(180deg) translate(0,0);
	image-orientation: from-image;
}
.thumbs .rotate[rev='3'] img {
	margin-top: 15px;
	transform: rotate(270deg) translate(0,0);
	image-orientation: from-image;
}

.time{
	display:inline-block;
	vertical-align:bottom;
}

.audio {
	width:20px;
	height:19px;
	background:url(../img/icon_listen.png) top left no-repeat;
	background-size:100%;
	vertical-align:middle;
}
.audio + span {
	font-size:15px;
}
.audio.has {
	display:inline-block;
}
.goodbad {
	width:20px;
	height:20px;
	background:url(../img/icon_smilies.png) top left no-repeat;
	background-size:200%;
	display:none;
	vertical-align:middle;
	-webkit-print-color-adjust: exact;
}
.goodbad.good{
	display:inline-block;
}
.goodbad.bad{
	display:inline-block;
	background-position:top right;
}
.survey{
	margin:0 10px;
}
.survey ul{
	list-style:none;
	margin:0; 
	padding:0; 
}
.survey li {
	margin-bottom:5px;
}

legend{
	font-size:140%;
}

label{
	margin-bottom:20px;
	display:block; 
}

label input[type='password'],
label input[type='text']{
	width:300px;
	border-radius:5px; 
	padding:5px 10px;
	font-size:120%
}

label span {
	display:inline-block; 
	font-size:85%;
	margin-right:10px; 
	font-weight:bold;
}


.photo_detail .user_entry {
	margin:0 auto;
	width:1180px;
}	

.photo_detail figure{
	margin:0;
}

.photo_detail .side{
	width:420px;
	float:right;
}

.photo_detail .preview{
	display:block;
	min-height:750px;
}

.photo_detail figure img{
	max-width:525px;
	max-height:700px;
	transform:rotate(90deg) translate(90px,0);
}
/*.photo_detail .rotate img {
	transform: rotate(0) translate(150px,0);
	image-orientation: from-image;
}
.photo_detail .rotate[rev='1'] img {
	transform: rotate(90deg) translate(0,-150px);
	image-orientation: from-image;
}
.photo_detail .rotate[rev='2'] img {
	transform: rotate(180deg) translate(-150px,0);
	image-orientation: from-image;
}
.photo_detail .rotate[rev='3'] img {
	transform: rotate(270deg) translate(0,150px);
	image-orientation: from-image;
}*/

.photo_detail .rotate img {
	transform: rotate(0) translate(0,0);
	image-orientation: from-image;
}
.photo_detail .rotate[rev='1'] img {
	transform: rotate(90deg) translate(90px,-70px);
	image-orientation: from-image;
}
.photo_detail .rotate[rev='2'] img {
	transform: rotate(180deg) translate(0,0);
	image-orientation: from-image;
}
.photo_detail .rotate[rev='3'] img {
	transform: rotate(270deg) translate(-90px,-70px);
	image-orientation: from-image;
}
.print_logo{
	position:absolute;
	width:60px;
	height:60px; 
	background:url(../img/logo.png) top left no-repeat;
	background-size:contain;
	z-index:999;
	top:5px;
	right:20px;
	display:none;
}

.photo_detail figure figcaption{
	margin:10px 0;
}

.photo_detail aside{
	overflow:hidden;
	clear:right;
	width:420px;
	margin-bottom:12px;
	position:relative;
}
.photo_detail aside h4{
	color:#333;
	margin-bottom:10px;
}

.photo_detail aside span {
	clear: both;
	display:inline-block;
	width:50px;
	height:50px;
	background-size:200%;
	margin-right:10px;
}
.photo_detail aside input{ 
	height:30px;
	font-size:16px;
	padding:5px;
	width:80%;
	border:1px solid #888;
	border-radius:5px;
}

.photo_detail .audio {
	width:50px;
	height:50px;
	vertical-align: middle;
	margin-right:10px;
	border-radius:5px;
	border:1px solid #666;
	box-shadow:2px 2px 2px #999; 
	cursor:pointer;
	position:relative;
	z-index:10;
}

.photo_detail div{
	margin-bottom:10px;
}
.photo_detail textarea{
	display:inline-block;
	width:90%;
	font-size:100%;
	vertical-align: middle;
	border-radius:5px;
}


.photo_detail .photo_previews .thumbs{
	min-height:145px;
	margin:0 auto;
	text-align:center;
}
.photo_detail .photo_previews .thumbs a{
	display:inline-block;
}
.photo_detail .photo_previews .thumbs .current {
	position:relative;
}
.photo_detail .photo_previews .thumbs .current:after {
	content:"";
	position:absolute;
	top:0; left:17px;
	width:106px; 
	height:143px;
	background:#333;
	opacity:.6;
	z-index:1;
}

.photo_detail .audio_clip {
	padding-bottom:15px;
	margin-bottom:15px;
	border-bottom:1px solid #ccc; 
	/*background:url(../img/icon_listen.png) 0 5px no-repeat;*/
	background-size:6%;
	-webkit-print-color-adjust: exact;
}

.photo_detail .forcommunity h4{
	display:inline-block;
	vertical-align: middle;
}

.photo_detail .forcommunity  span{
	display:inline-block;
	vertical-align: text-bottom;
	width:30px;
	height:30px;
	margin-left:10px;
	margin-right:auto;
}

#project_summary {
	position:relative;
	padding-top:30px;
}

.forprint{
	display:none;
}


#delete_all {
	position:absolute;
	top:0;
	right:0; 
}

.photo_detail aside{
	overflow:hidden;
}

.photo_detail input[type='submit']{
	display:block;
	margin:0 auto;
}
.prev,.next{
    float: right;
    text-decoration: none;
    cursor: pointer;
    font-size: 110%;
    color: #333;
    font-family: Helvetica;
    display:inline-block;
    vertical-align:top;
}
.prev {
	float:left;
}
.prev:before{
	content:"<< ";
	vertical-align:top;
}
.next:after{
	content:" >>";
	vertical-align:top;
}

.download {
	display: inline-block;
    vertical-align: top;
    color: #333;
    text-decoration: none;
    transform: rotate(270deg);
    font-size: 180%;
    display:none;
}

.print_only{
	display:none;
}

/*tags*/
#tags{
	overflow:hidden;
}
#tags h4{
	display:inline-block;
	margin:0 10px 0 0; padding:0;
	vertical-align:top;
	font-size:150%;
	float:left;
}
#tags ul.photopage {
	float: right;
    width: 600px;
}
#tags ul,
#tags ul li{
	vertical-align:top;
	margin:0; padding:0;
	list-style:none;
	display:inline-block;
}
#tags ul li {
	margin:0 5px 10px;
	padding:5px 28px 5px 12px;
	background:#ccc; 
	border-radius:10px;
	position:relative;
}
.deletetag:hover{
	background:red;
	color:#fff;
}
.deletetag{
	font-family:arial;
	font-size:77%;
	position:absolute;
	top:6px;
	right:5px;
	text-decoration:none;
	color:#333;
	display:inline-block;
	background:#fff;
	padding:1px 5px;
	border-radius:10px;
}
.opentag {
	color:#333;
	text-decoration:none;
	display:inline-block;
}
.noback{
	background:none !important;
}

#newtag{
	position:absolute;
	top:50%;
	left:50%;
	transform : translate(-50%,-50%);
	font-family:arial;
	width:280px; 
	background:#efefef;
	border:1px solid #333; 
	border-radius:10px;
	box-shadow:0 0 3px 3px #333;
	display:none;
}
#newtag  h4{
	margin:0; padding:20px 0 10px;
	text-align:center;
	font-weight:normal;
}
#newtag  h5 {
	text-align:center;
	font-size:140%;
	font-weight:normal;
	margin:0; padding:10px 0;
}
#newtag ul,
#newtag li {
	list-style:none;
	margin:0; padding:0;
}
#newtag ul{
	overflow-y: scroll;
	height:200px;
	border-top:1px solid #333;
}
#newtag li:not(:last-child) {
	border-bottom:1px solid #333;
}
#newtag li:last-child .tagphoto{
	border-radius:0 0 10px 10px;
}
#newtag form {
	display:block;
	text-align:center;
	margin:0 auto;
}
#newtag input{
	display:inline-block;
	padding:5px 8px;
	border-radius:5px;
	border:1px solid #333;
}
#newtag .tagphoto {
	display:block;
	padding:10px 15px;
	color:#333;
	text-decoration:none;
}
#newtag .tagphoto:hover{
	background:#fff;
	position:relative;
}
#newtag .tagphoto:hover:after{
	content:"+";
	font-size:150%;
	position:absolute;
	line-height:80%;
	right:22px;
}
.notags{
	padding: 10px;
    font-style: italic;
}




/*agg photos */
.all-photos{
    top:18px;
    border:solid;
    border-width: 2px;
    overflow: scroll;
    max-width: 333px;
    min-width:333px;
    float:right;
    min-height: 690px;
    max-height: 690px;
    position: relative;
}

.thumbs{
	 margin: 0 10px;
    text-align: center;
}

.collapse {
	margin:20px auto;
}

.nogeo{
	position:relative;
}
.nogeo:before {
	content:"Geo Data N/A";
	text-align:center;
	line-height:150px;
	position:absolute; 
	top:0; left:0; 
	width:142px; 
	height:150px;
	color:#fff;
	text-shadow:0px 0px 3px #333;
	/*background:#ccc; */
	z-index:1;
	/*opacity:.7;*/
}
.photoOn{
	box-shadow: 0px 0px 6px 6px #902c8e;
}

.collapse figure {
	position:relative;
}

#addtags{
	position:fixed;
	left:0;
	bottom:150px;
	width:190px;
	overflow:hidden;
	background:#efefef;
	border:1px solid #333; 
	border-left:none;
	border-radius:0 10px 10px 0;
	box-shadow:0 0 3px 3px #333;
	padding-left:5px;
	z-index:6;
	transition: .5s left ease-in-out;
}

#addtags.closed {
	left:-180px;
}
#addtags.closed #close_addtags{
	height:100%;
	background:darkseagreen;
}
#addtags.closed #close_addtags:hover{
	background:greenyellow;
}
#addtags.closed #close_addtags:before{
	content:"";
}

#addtags input[type='text'] {
	width:65%;
	border-radius:5px;
}
#addtags h4{
	font-size:88%;
	padding:10px 0 0;
	text-align:center;
} 
#addtags ul{
	margin:10px 10px 20px 0;
	padding:0;
	overflow:scroll;
	height:300px;
}
#addtags li{
	margin: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px #000;
}
#addtags li a {
	display:block;
    text-align: center;
    padding: 8px 0;
    border-radius: 5px;
    text-decoration:none;
    position:relative;
}
#addtags li a:hover{
	background: #fff url(../img/icon_drag.png) 93% no-repeat;
    background-size: 10%;
}
#addtags p {
	padding: 0;
}
#addtags li a:hover b{
	position:absolute;
	top: 8px;
    left: 5px;
	width:20px;
	height:20px;
	background:#fff url(../img/icon_trash.png) 50% no-repeat;
	background-size:contain;
	border:1px solid #999;
	border-radius:3px;
	box-shadow:1px 1px 1px #333;
	cursor:pointer;
	z-index:1;
}
#close_addtags{
    position: absolute;
    width: 20px;
    height: 35px;
    top: 0;
    right: 0;
    color:#333;
	font-weight:bold;

}
#close_addtags:before{
	content: '\02190';
	position:absolute;
	width:20px;
	height:35px;
	line-height: 220%;
	top:0;
	left:0;
}


.loading{
	width:195px;
	height:234px;
	margin:10px auto;
	background:url(../img/loading_ourvoice.png) 0 0 no-repeat;
	-webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

#confidence_exerpt{
	font-size: 12px;
	font-style: italic;
}
.covering_canvas{
	position:absolute;
	z-index: 1000;
}
#pixelate{
	background-color: #4CAF50;
	color:white;
	font-size:13px;
	height:25px;
	margin: 0 5px 5px 0;
}
#pixelateSubmit{
	color:white;
	font-size: 13px;
	background-color: #008CBA;
	height:25px;
	margin: 0 5px 5px 0;
}

#legend{
	height:25px;
	width:180px;
	margin:10px;
	border:solid;
	border-width: 1px;
	z-index: 100;
}
.hidden{
	display:none;
}
.location_alert{
	position: absolute;
	z-index: 2;
}
.location_alert p{
	text-align: center;
	padding:110px;
	font-weight: bold;
}
.location_alert_summary{
	position: absolute;
	width:420px;
	height:300px;
	right:20px;
	top:62px;
	z-index: -1;
}
.location_alert_summary p{
	text-align: center;
	padding:110px;
	font-weight: bold;
}
#cover{
	z-index: -1;
}
.load{
	width:140px;
	height:10px;
	position:relative;
	top:-20px;
}
.progress{
	width:0%;
	height:100%;
	background-color: green;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }